* {
    box-sizing: border-box;
    color: #333;
}
html {
    font-size: 10px;
}

body {
    background-color: #81a69b;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

button {
    padding: 1rem 1.8rem;
    font-size: 1.5rem;
}

.count {
    display: inline-block;
    font-size: 5rem;
    padding: 2rem 4rem;
    color: #fff;
}

input[type='search'] {
    padding: 1rem 1rem;
    font-style: 3rem;
    color: #000;
}

.emptyResult {
    font-size: 2rem;
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
}

.user {
    width: 150px;
    overflow: hidden;
}
