* {
    box-sizing: border-box;
    color: #333;
}
html {
    font-size: 10px;
}

body {
    background-color: #81a69b;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

button {
    padding: 1rem 1.8rem;
    font-size: 1.5rem;
}

.count {
    display: inline-block;
    font-size: 5rem;
    padding: 2rem 4rem;
    color: #fff;
}

input[type='search'] {
    padding: 1rem 1rem;
    font-style: 3rem;
    color: #000;
}

.emptyResult {
    font-size: 2rem;
}

.goods {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    justify-content: space-between;
}

.basket {
    position: absolute;
    z-index: 2;
    right: 10rem;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1rem 2rem;
    max-width: 170px;
}

.basket__item {
    position: relative;
}

.basket__itemDelete {
    border: none;
    background-color: transparent;
    color: red;
    font-weight: 900;
    position: absolute;
    right: 0;
    top: 0;
}

.basket__sum {
    font-size: 1.5rem;
}
